@charset 'UTF-8';

@import 'variables';
@import 'footer';

body {
    background-color: $skyblue;
    font-family: 'Verdana';

    header {
        color: $green;

        h1 {
            font-weight: bold;

            .highlight {
                color: $yellow;
            }

        }
    }
}
